@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .icon-container {
    animation: bounce 1.5s infinite ease-in-out;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
  }
  
  .icon-whatsapp {
    bottom: 90px;
    right: 20px;
    background-color: #25D366; /* Vert WhatsApp */
  }
  
  .icon-chatbot {
    bottom: 20px;
    right: 20px;
    background-color: #b7935a; /* Couleur personnalisée */
  }
  